:root {
    --bg-color: linear-gradient(180deg, rgba(0, 150, 136, 1) 0%, rgba(0, 150, 136, 1) 24%, rgba(220, 219, 209, 1) 24%, rgba(218, 225, 225, 1) 60%);
}

body {
    background: var(--bg-color);
    height: 100vh;
}

img {
    border-radius: 50%;
}


.bg-light-blue {
    background-color: #74daffde;
}

.position-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.boolzapp-container {
    position: relative;
    top: 5vh;
    height: 90vh;
}

.bg-header {
    background-color: rgb(234 234 234);
}

.image {
    width: 50px;
}

.my-mt-5 {
    margin-top: 5px;
}

.my-mr-5 {
    margin-right: 15px;
}

.active {
    background-color: grey;
}

.avatar {
    border-bottom: 1px solid rgb(229, 229, 229);
}

.bg-image {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    height: 69.3vh;
}

.icon {
    width: 40px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.message-out {

    border: 1px solid rgb(201 255 180) !important;
    background-color: rgb(201 255 180) !important;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.message-in {
    display: flex;
    justify-content: flex-start;
}

.container-message {

    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    max-width: 35%;
    max-height: 20%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}