body {
    position: relative;
    background-color: rgb(213 219 215);
    height: 100vh;
}

img {
    border-radius: 50%;
}

.bg-green {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border: 1px solid rgb(0 155 138);
    background-color: rgb(0 155 138);
    height: 20%;
    z-index: -5;
}

.boolzapp-container {
    z-index: 20;
    height: 100vh;
    padding: 2% 15%;
}

.bg-header {
    background-color: rgb(234 234 234);
}

.image {
    width: 60px;
}

.my-mt-5 {
    margin-top: 5px;
}

.my-mr-5 {
    margin-right: 5px;
}

.bg-image {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    height: 80vh;
}

.container-message-out {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}

.container-message-in {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
}

.message-green {
    border: 1px solid rgb(201 255 180);
    background-color: rgb(201 255 180);
    max-width: 35%;
    max-height: 20%;
    padding: 5px;
    border-radius: 10px;
}

.message-white {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    max-width: 35%;
    max-height: 20%;
    padding: 5px;
    border-radius: 10px;
}