<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">

        <div class="bg-green"></div>
        <div class="d-flex container boolzapp-container">
            <div class="col-4 bg-white overflow-auto" style="height: 100%;">
                <div class="bg-header d-flex align-center justify-content-between py-1">
                    <div class="d-flex align-items-center ps-2">
                        <div class="image">
                            <img class="img-fluid" src="img/avatar_io.jpg" alt="">
                        </div>
                        <div class="ps-2">    
                            <span>Giorgia</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="my-mr-5">
                            <i class="fa-solid fa-circle-notch text-secondary"></i>
                        </div>
                        <div class="my-mr-5">
                            <i class="fa-solid fa-message text-secondary"></i>
                        </div>
                        <div class="my-mr-5">
                            <i class="fa-solid fa-ellipsis-vertical text-secondary"></i>
                        </div>
                    </div>
            </div>

            <!-- allert -->
            <div class="alert alert-info rounded-0 d-flex align-items-center p-2 mb-0">
                <div class="icon">
                    <i class="fa-solid fa-bell-slash text-info position-icon"></i>
                </div>
                <div class="ms-2">
                    <span>Ricevi notifiche di nuovi messaggi</span>  
                    <br>
                    <a href="#" class="text-secondary"><small>Attiva notifiche desktop</small></a>
                </div>
            </div>
            <!-- ricerca -->
            <div class="d-flex text-bg-light justify-content-center align-items-center">
                <div>
                    <button class="btn btn-light px-3">
                        <i class="fa-solid fa-magnifying-glass text-secondary"></i>
                    </button>
                </div>
                <div>
                    <input type="text" style="width: 260px;" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>
            <!-- lista chat -->
            <div class="d-flex flex-column overflow-auto bg-white">
                <div class="d-flex align-items-center ps-2 py-2 avatar"
                @click="selectedUser = user"
                v-for="(user, i) in usersList" :key="i + user.name">
                    <div class="image">
                        <img class="img-fluid" :src=`img/avatar${user.avatar}.jpg` alt="">
                    </div>
                    <div class="text my-mt-5 ps-2">                    
                        <span>{{user.name}}</span>
                        <br>
                        <small class="text-secondary">Ultimo messaggio inviato</small>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-8 ">
            <!-- chat privata -->
            <div class="bg-header d-flex align-center border-start border-secondary justify-content-between py-1">
                
                <!-- intestazione -->
                <div class="d-flex align-items-center ps-2">
                    <div class="image">
                        <img class="img-fluid" :src=`img/avatar${selectedUser.avatar}.jpg` alt="">
                    </div>
                    <div class="text my-mt-5 ps-2">
                        
                        <span>{{selectedUser.name}}</span>
                        <br>
                        <small class="text-secondary">Ultimo accesso oggi alle 13:00</small>
                    </div>
                </div>
                <!-- icone -->
                <div class="d-flex align-items-center">
                    <div class="my-mr-5">
                        <i class="fa-solid fa-magnifying-glass text-secondary"></i>
                    </div>
                    <div class="my-mr-5">
                        <i class="fa-solid fa-paperclip text-secondary"></i>
                    </div>
                    <div class="my-mr-5">
                        <i class="fa-solid fa-ellipsis-vertical text-secondary"></i>
                    </div>
                </div>
            </div>
            <!-- chat -->
            <div class="d-flex  ">
                <div class="bg-image overflow-auto flex-grow-1">
                    
                    <div class="px-2 d-flex flex-column"> 
                        <div class="container-message" 
                        :class="{ 'message-out': messageObj.status === 'sent' }"
                        :class="{ 'message-in': messageObj.status === 'received' }"
                        v-for="messageObj in selectedUser.messages">
                            {{messageObj.message}}
                        </div>
                    </div>
                </div>
            </div>
        
                
                <div class="d-flex align-items-center bg-header">
                    <div class="m-3">
                            <i class="fa-solid fa-face-smile text-secondary"></i>
                        </div>
                    <input type="text" class="form-control form-control-md rounded-0" placeholder="Scrivi un messaggio"
                    v-model="userMessage.message"
                    @keyup.enter="sendText">    
                    <div class="m-3">
                        <i class="fa-solid fa-microphone text-secondary"></i>
                    </div>
                </div>
            </div> 
        </div>
    </div>
<script src="js/main.js"></script>
</body>
</html>